:root {
    --color-primario: #252323;
    --color-secundario: #424747;
    --color-terciario: #333333;
    --color-fondo-login: #F0F0F0; /* Nuevo color de fondo para el formulario de inicio de sesión */
    --color-fondo-registro: #E0E0E0; /* Nuevo color de fondo para el formulario de registro */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-primario);
    color: var(--color-terciario);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103%;
}

.image-overlay {
    position: absolute;
    top: 12%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra el elemento en relación con su propio tamaño */
    width: auto; /* Ancho automático */
    height: auto; /* Altura automática */
    max-width: 90%; /* Asegura que la imagen no se extienda más allá de su contenedor */
    max-height: 100%; /* Asegura que la imagen no se extienda más allá de su contenedor */
}

.image-overlay img {
    max-width: 90%; /* Asegura que la imagen no se extienda más allá de su contenedor */
    max-height: 90%; /* Asegura que la imagen no se extienda más allá de su contenedor */
    object-fit: contain; /* Ajusta la imagen dentro de su contenedor manteniendo la relación de aspecto */
    display: block; /* Para evitar espacio adicional debajo de la imagen */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form-box {
    display: flex;
    gap: 20px;
}

.form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.login-form {
    background-color: var(--color-fondo-login); /* Nuevo color de fondo para el formulario de inicio de sesión */
    border: 1px solid var(--color-secundario); /* Nuevo borde para el formulario de inicio de sesión */
}

.register-form {
    background-color: var(--color-fondo-registro); /* Nuevo color de fondo para el formulario de registro */
    border: 1px solid var(--color-secundario); /* Nuevo borde para el formulario de registro */
}

h2 {
    color: var(--color-secundario);
    margin-bottom: 10px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    color: var(--color-terciario);
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    max-width: 320px; /* Ajusta este valor según tus necesidades */
    padding: 10px;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me input {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-secundario);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-terciario);
    color: var(--color-primario);
}

.forgot-password, .cancel {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--color-secundario);
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password:hover, .cancel:hover {
    color: var(--color-terciario);
}

body, html {
    margin: 0;
    padding: 0;
    height: 103%;
}


.container {
    position: absolute;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    position: relative;
    z-index: 2;
}

/* Define tu CSS existente aquí */

/* Consulta de medios para dispositivos móviles */

@media screen and (max-width: 600px) {
    body, html {
        margin: 0;
        padding: 0;
        height: 120%;
    }
    .image-overlay {
        position: absolute;
        top: 10%; /* Centra verticalmente */
        left: 55%; /* Centra horizontalmente */
        transform: translate(-50%, -50%); /* Centra el elemento en relación con su propio tamaño */
        width: 350px; /* Ancho automático */
        height: auto; /* Altura automática */
        max-width: 90%; /* Asegura que la imagen no se extienda más allá de su contenedor */
        max-height: 100%; /* Asegura que la imagen no se extienda más allá de su contenedor */
    }
    
    .image-overlay img {
        max-width: 90%; /* Asegura que la imagen no se extienda más allá de su contenedor */
        max-height: 90%; /* Asegura que la imagen no se extienda más allá de su contenedor */
        object-fit: contain; /* Ajusta la imagen dentro de su contenedor manteniendo la relación de aspecto */
        display: block; /* Para evitar espacio adicional debajo de la imagen */
    }
    .form-box {
        flex-direction: column; /* Cambia la dirección de los contenedores a columna */
        gap: 20px; /* Agrega un espacio entre los contenedores */
    }

    .form {
        width: 90%; /* Ajusta el ancho de los formularios para que ocupen todo el ancho */
    }

    .login-form {
        margin-top: 100px; /* Ajusta el espacio superior del primer contenedor */
    }

    /* Ajusta el tamaño de los campos de entrada */
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 90%; /* Haz que los campos de entrada ocupen todo el ancho */
        max-width: 320px; /* Limita el ancho máximo de los campos de entrada */
        padding: 10px;
        border: 1px solid var(--color-secundario);
        border-radius: 5px;
    }
}
